---
import '../styles/global.css';
import { Image } from 'astro:assets';
import BasePageLayout from '../layouts/BasePageLayout.astro';
import DistanceField from '../components/fields/DistanceField.astro';
import Carousel from '../components/Carousel.astro';

//Images
import PerfilInfinito from '../assets/imgCategorias/perfilInfinito.avif';
import PerfilLuna from '../assets/imgCategorias/perfilLuna.avif';
import PerfilCuencha from '../assets/imgCategorias/perfilCuencha.avif';
import PerfilCastro from '../assets/imgCategorias/perfilCastro.avif';

//Carousel infinito
import infinito1 from '../assets/imgCategorias/infinito1.avif';
import infinito2 from '../assets/imgCategorias/infinito2.avif';
import infinito3 from '../assets/imgCategorias/infinito3.avif';
import infinito4 from '../assets/imgCategorias/infinito4.avif';
import infinito5 from '../assets/imgCategorias/luna1.avif';

//Carousel luna
import luna1 from '../assets/imgCategorias/luna1.avif';
import luna2 from '../assets/imgCategorias/luna2.avif';
import luna3 from '../assets/imgCategorias/luna3.avif';
import SectionTitle from '../components/SectionTitle.astro';
//Carousel cuencha
import cuencha1 from '../assets/imgCategorias/cuencha1.avif';
import cuencha2 from '../assets/imgCategorias/cuencha2.avif';
//Carousel castro
import castro1 from '../assets/imgCategorias/castro1.avif';
import castro2 from '../assets/imgCategorias/castro2.avif';
import castro3 from '../assets/imgCategorias/castro3.avif';
import castro4 from '../assets/imgCategorias/castro4.avif';
---

<BasePageLayout
  title="Categorías"
  description="4 distancias disponibles en el Trail Valle de Arbas: Infinito 23km (2050m+), Luna 12.5km (8500m+), Cuencha 4.5km (190m+) y Castro 5km (430m-). Perfiles, desniveles y requisitos por categoría"
  image="HeaderCategorias"
  imgTitle="Categorías y Distancias"
>
  <section>
    <div class="title-center pt-8 pb-4 reveal-element flex flex-col items-center">
      <h1 class="text-3xl lg:text-4xl font-bold text-center mb-2">Todas las categorías</h1>
      <p class="text-lg lg:text-xl text-center text-gray-600">Tres distancias el sábado y una carrera especial el viernes</p>
    </div>
    
    <SectionTitle
      title="Carreras del Sábado (3 distancias)"
      subtitle="Hemos preparado varias categorías en el trail para que puedas elegir la que más se adapte a ti. Tres distancias: 4,5km (cadete-infantil) 12km y 23 km para todos los niveles."
      className="reveal-element"
    />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
      <div class="lg:col-span-2">
        <DistanceField
          name="Trail Arbas Infinito"
          ,
          description="Nuestro recorrido más exigente, para los más valientes y preparados."
          ,
          distance="23"
          ,
          uphill="2050"
          ,
          link="arbas-infinito"
        />
      </div>
      <DistanceField
        name="Trail Arbas-Luna"
        ,
        description="Un recorrido desafiante para disfrutar del valle de Arbas."
        ,
        distance="12,5"
        ,
        uphill="850"
        ,
        link="arbas-luna"
      />
      <DistanceField
        name="Trail “Camino de la Cuencha”"
        ,
        description="Recorrido rápido y divertido para los participantes de la categoría infantil y cadete"
        ,
        distance="4,5(infantil) y 6,5(cadete)"
        ,
        uphill="190 (infantil) y 325 (cadete)"
        ,
        link="cuencha"
      />
    </div>
  </section>

  <section>
    <SectionTitle
      title="Carrera del viernes"
      subtitle="NOVEDAD: Carrera de bajada especial el viernes al atardecer (21:00)"
      className="reveal-element"
    />
    <div class="flex justify-center p-4">
      <DistanceField
        name="Kilómetro Desvertical"
        ,
        description="Recorrido  de puro descenso para los amantes de la velocidad en montaña."
        ,
        distance="5"
        ,
        uphill="-430"
        ,
        link="km-desvertical"
      />
    </div>
  </section>

  <section>
    <article id="arbas-infinito" class="pt-20 w-[90%] mx-auto max-w-300">
      <div class="title-center pt-4 reveal-element">
        <h2 class="text-2xl font-bold title-underline animate-underline mt-8 mb-4 lg:text-3xl">
          Trail Arbas Infinito (23km +2050m)
        </h2>
      </div>
      <p class="info-text mb-2">
        Nuestra carrera reina, recorre de oeste a este el Valle de Arbas, dentro de la <strong
          >Reserva de la Biosfera del Alto Bernesga</strong
        >, y se adentra en el pintoresco valle de Caldas de Luna, en el <strong
          >Parque Natural de Babia y Luna</strong
        >. El recorrido tiene como punto central <strong>Cubillas de Arbas</strong>, donde coinciden
        la salida, la meta y el paso intermedio, compartiendo este tramo inicial con la prueba
        Arbas–Luna.
      </p>
      <Carousel
        images={[
          {
            src: infinito1,
            alt: 'Vista inferior de las Tres Marías',
            caption: 'Las Tres Marías - Vista desde la falda',
          },
          { src: infinito2, alt: 'Bajada a Caldas', caption: 'Bajada a Caldas de Luna' },
          {
            src: infinito3,
            alt: 'Vista de la Barragana',
            caption: 'La Barragana - Vista desde el Valle',
          },
          { src: infinito4, alt: 'Vista del Palero', caption: 'Collado del Palero' },
          { src: infinito5, alt: 'Collado de la Barragana', caption: 'Collado de la Barragana' },
        ]}
      />
      <p class="info-text pt-4">
        El trazado presenta dos partes bien diferenciadas: la primera, hasta el paso intermedio,
        discurre por senderos y caminos entre praderas; la segunda es más técnica, con senderos que
        atraviesan laderas herbosas y zonas calizas subiendo tres emblemáticas cimas: La Brazosa
        (1937m), Peña Esquina (1952m), María del Medio (1907m)
      </p>
      <h3 class="text-xl font-semibold mt-4 mb-2 lg:mt-8 lg:text-2xl">Descripción de la carrera</h3>
      <div class="flex flex-col gap-2">
        <Image
          src={PerfilInfinito}
          alt="Perfil de la carrera Trail Arbas Infinito"
          class="w-full h-auto mb-4"
          loading="lazy"
        />
        <ul>
          <li>
            <strong>Cubillas de Arbas (km 0) – Collado Ferreras (km 2,5):</strong>
            Subida de 370 m de desnivel. Hasta la cabaña del pastor (km 1,3) el recorrido sigue un camino
            ganadero, para después continuar por una senda herbosa paralela a un arroyo hasta el collado
            Ferreras (punto Control y avituallamiento líquido de emergencia)
          </li>

          <li>
            <strong>Collado Ferreras (km 2,5) – Sena de Luna (km 5):</strong>
            Bajada rápida de 450 m de desnivel por un sendero herboso hasta el refugio ganadero (km 4),
            y después por pista hasta las proximidades de la autopista (avituallamiento sólido y líquido)
          </li>

          <li>
            <strong>Sena de Luna (km 5) – Collado Aronga (km 8):</strong>
            Subida de 400 m de desnivel por sendas ganaderas a través de praderas de montaña hasta el
            collado (avituallamiento líquido)
          </li>

          <li>
            <strong>Collado Aronga (km 8) – Cubillas de Arbas (km 12,5):</strong>
            Descenso de 320 m de desnivel. Al inicio, una senda utilizada por escaladores para acceder
            a las Peñas de Prado conduce hasta la carretera. Desde allí se enlaza con una senda que llega
            al túnel de Alceo. Tras superar un ascenso de 80 m por la Sierra de Alceo, el antiguo <strong
              >Camino de los Carros</strong
            > conduce de vuelta a Cubillas (Punto de control y avituallamiento sólido)
          </li>
        </ul>

        <h4 class="text-center text-lg font-semibold lg:text-xl">Fin del primer bucle</h4>

        <ul>
          <li>
            <strong>Cubillas de Arbas (km 12,5) – Pico la Brazosa (km 15):</strong>
            Subida de 620 m. El trazado comienza por el camino de la Ferrata, rodea la Peña El Castillo
            y asciende con fuerte pendiente hasta la cima(punto de control y avituallamiento líquido de
            emergencia)
          </li>

          <li>
            <strong>Pico la Brazosa (km 15) – Peña Ortigal / Peña Esquina (km 16):</strong>
            Tramo de 1 km por sendas ganaderas: 120 m de bajada y 130 m de subida. Los últimos 100 m son
            más técnicos, sobre roca caliza hasta llegar a la cima (punto de control y avituallamiento
            líquido de emergencia)
          </li>

          <li>
            <strong>Peña Ortigal (km 16) – Refugio de las Tres Marías (km 17,5):</strong>
            Descenso de 400 m. El inicio es técnico sobre roca caliza (100 m), pero pronto se convierte
            en senda herbosa que permite correr con fluidez hasta el refugio ((punto de control y avituallamiento
            sólido)
          </li>

          <li>
            <strong>Refugio Tres Marías (km 17,5) – Collada del Palero:</strong>
            Ascenso exigente de 330 m de desnivel por una senda técnica que atraviesa terreno calizo hasta
            el espectacular collado del Palero (punto de control)
          </li>

          <li>
            <strong>Collado del Palero (km 17,5) – Cubillas de Arbas (km 23,5):</strong>
            Descenso por un espectacular sendero en la cara oeste, entre el Palero y la María del Medio.
            Una bajada directa de 400 m de desnivel hasta el fondo del valle, para enlazar con un camino
            que lleva a meta en menos de 600 m (con un ligero ascenso final de 30 m).
          </li>
        </ul>
      </div>

      <h3 class="text-xl font-semibold mt-4 lg:text-2xl">Puntos de paso</h3>
      <ul class="list-disc">
        <li><strong>Collado Ferreras:</strong> control y avituallamiento líquido de emergencia.</li>
        <li><strong>Caldas de Luna:</strong> control y avituallamiento sólido y líquido.</li>
        <li><strong>Collada de Aronga:</strong> avituallamiento líquido.</li>
        <li><strong>Cruce de carretera:</strong> punto de control.</li>
        <li>
          <strong>Cubillas de Arbas (paso intermedio):</strong> control y avituallamiento líquido y sólido.
        </li>
        <li>
          <strong>Cima de la Peña la Brazosa:</strong> punto de control y avituallamiento de emergencia.
        </li>
        <li>
          <strong>Cima de Peña Ortigal:</strong> punto de control y avituallamiento de emergencia.
        </li>
        <li>
          <strong>Refugio de las Tres Marías:</strong> control y avituallamiento líquido y sólido.
        </li>
        <li>
          <strong>Collado del Palero:</strong> control.
        </li>
        <li><strong>Meta en Cubillas de Arbas:</strong> avituallamiento líquido y sólido.</li>
      </ul>
      <h3 class="text-xl font-semibold mt-8 lg:text-2xl mb-2">Tiempos estimados</h3>
      <p class="info-text">
        El primer bucle se estima en torno a <strong>1 hora y 30 minutos</strong> para los corredores
        más rápidos. El segundo bucle será más exigente, con un tiempo aproximado de <strong
          >2 horas y 15m
        </strong>. El tiempo máximo de carrera se establece en <strong>5 horas y 30 minutos</strong
        >.
      </p>
      <div class="text-center mt-6">
        <a
          href="https://es.wikiloc.com/rutas-carrera-por-montana/trail-arbas-infinito-2025-212899881?h=a2zl8q2rm6&wa=sd&utm_campaign=badge&utm_source=unknown&utm_medium=unknown"
          class="inline-block bg-linear-to-r from-[#f97316] to-[#e49a69] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-[#e49a69] hover:to-[#f97316] transition-all duration-200"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link al track
        </a>
      </div>
    </article>
    <article id="arbas-luna" class="pt-20 w-[90%] mx-auto max-w-300">
      <div class="title-center pt-4 reveal-element">
        <h2 class="text-2xl font-bold title-underline animate-underline mt-8 mb-4 lg:text-3xl">
          Trail Arbas-Luna (12km +850m)
        </h2>
      </div>
      <p class="info-text mb-2">
        Nuestra carrera corta: esta modalidad está pensada para corredores que prefieren una distancia más corta, rápida y
        con menor exigencia técnica. El recorrido, de 12,5 kilómetros, atraviesa los <strong
          >valles de Arbas</strong
        > y <strong>Caldas de Luna</strong>, ofreciendo magníficas vistas de cumbres emblemáticas
        como la <strong>Barragana</strong>, las <strong>Peñas de Prado</strong> o el <strong
          >Cirbanal</strong
        >, entre otras.
      </p>
      <Carousel
        images={[
          { src: luna1, alt: 'Vista desde Barragana', caption: 'Collado de la Barragana' },
          {
            src: luna2,
            alt: 'Subida al collado de Aronga',
            caption: 'Subida al collado de Aronga',
          },
          { src: luna3, alt: 'Collado Ferreras', caption: 'Collado Ferreras' },
        ]}
      />
      <p class="info-text pt-4">
        El trazado combina dos fuertes repechos con dos descensos muy rápidos, lo que la convierte
        en una carrera intensa y dinámica.
      </p>
      <h3 class="text-xl font-semibold mt-4 mb-2 lg:mt-8 lg:text-2xl">Descripción de la carrera</h3>
      <div class="flex flex-col gap-2">
        <Image
          src={PerfilLuna}
          alt="Perfil de la carrera Trail Arbas-Luna"
          class="w-full h-auto mb-4"
          loading="lazy"
        />
        <ul>
          <li>
            <strong>Cubillas de Arbas (km 0) – Collado Ferreras (km 2,5):</strong>
            Subida de 370 m de desnivel. Hasta la cabaña del pastor (km 1,3) el trazado sigue un camino
            ganadero, y desde allí continúa por una senda herbosa paralela a un pequeño arroyo hasta el
            collado.
          </li>

          <li>
            <strong>Collado Ferreras (km 2,5) – Sena de Luna (km 5):</strong>
            Descenso rápido de 450 m de desnivel. El tramo comienza por un sendero herboso hasta el refugio
            ganadero (km 4) y después enlaza con una pista que llega casi hasta la autopista.
          </li>

          <li>
            <strong>Sena de Luna (km 5) – Collado Aronga (km 8):</strong>
            Subida de 400 m de desnivel por sendas ganaderas que atraviesan zonas herbosas.
          </li>

          <li>
            <strong>Collado Aronga (km 8) – Cubillas de Arbas (km 12):</strong>
            Bajada de 320 m de desnivel. Al inicio, una senda utilizada por escaladores conduce a las
            vías de las Peñas de Prado y baja hasta la carretera. Desde allí, se toma una senda hacia
            el túnel de Alceo, se ascienden 80 m por la Sierra de Alceo y, finalmente, el antiguo <em
              >Camino de los Carros</em
            > lleva de regreso al pueblo de Cubillas.
          </li>
        </ul>
      </div>

      <h3 class="text-xl font-semibold mt-4 lg:text-2xl">Puntos de paso</h3>
      <ul class="list-disc">
        <li><strong>Collado Ferreras:</strong> control y avituallamiento líquido emergencia.</li>
        <li><strong>Caldas de Luna:</strong> control y avituallamiento líquido y sólido.</li>
        <li><strong>Collada de Aronga:</strong> punto de control y avituallamiento liquido.</li>
        <li><strong>Cruce de carretera:</strong> punto de control.</li>
        <li>
          <strong>Meta en Cubillas de Arbas:</strong> Meta y avituallamiento líquido y sólido.
        </li>
      </ul>
      <h3 class="text-xl font-semibold mt-8 lg:text-2xl mb-2">Tiempos estimados</h3>
      <p class="info-text mb-20">
        Tiempo record Hugo Cerezo 1:19:40. Tiempo de cierre 3 horas y 15m
      </p>
      <div class="text-center mt-6">
        <a
          href="https://es.wikiloc.com/rutas-carrera-por-montana/arbas-luna-by-trail-valle-de-arbas-2025-209373354"
          class="inline-block bg-linear-to-r from-[#f97316] to-[#e49a69] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-[#e49a69] hover:to-[#f97316] transition-all duration-200"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link al track
        </a>
      </div>
    </article>
    <article id="cuencha" class="pt-20 w-[90%] mx-auto max-w-300 mb-20">
      <div class="title-center pt-4 flex flex-col items-center reveal-element">
        <h2
          class="text-2xl font-bold title-underline animate-underline mt-8 mb-4 text-center lg:text-3xl"
        >
          Trail "Camino de la Cuencha"
        </h2>
        <h3 class="text-xl font-semibold text-[#e49a69] mb-4">Categoría infantil y cadete</h3>
      </div>
      <p class="info-text mb-2">
        Se trata de un recorrido rápido y accesible, que transcurre por sendas y caminos fáciles de
        transitar. El trazado conduce hasta uno de los miradores más espectaculares del valle, donde
        la recompensa son unas vistas inolvidables. ¡Una experiencia para disfrutar al máximo!
      </p>
      <Carousel
        images={[
          { src: cuencha1, alt: 'Collado de la Cuencha', caption: 'Collado de la Cuencha' },
          { src: cuencha2, alt: 'Cartel de la Cuencha', caption: 'Cartel de la Cuencha' },
        ]}
      />
      <h3 class="text-xl font-semibold mt-4 mb-2 lg:mt-8 lg:text-2xl">Descripción de la carrera infantil</h3>
      <div class="flex flex-col gap-2">
        <Image
          src={PerfilCuencha}
          alt="Perfil de la carrera Trail Arbas-Luna"
          class="w-full h-auto mb-4"
          loading="lazy"
        />
        <ul>
          <li>
            <strong>Cubillas de Arbas (km 0) – Cruce (km 1,5):</strong>
            Salida desde el pueblo por un camino que enlaza con un sendero herboso, con 120 m de desnivel
            positivo hasta alcanzar el cruce.
          </li>

          <li>
            <strong>Cruce (km 1,5) – Arroyo Balagares (km 2,2):</strong>
            Tramo por pista con 70 m de desnivel.
          </li>

          <li>
            <strong>Arroyo Balagares (km 2,2) – Cruce (km 2,9):</strong>
            Regreso por el mismo camino utilizado en la subida.
          </li>

          <li>
            <strong>Cruce (km 2,9) – Cubillas de Arbas (km 4,5):</strong>
            Descenso de 120 m de desnivel por pista hasta el pueblo.
          </li>
        </ul>
      </div>

      <h3 class="text-xl font-semibold mt-4 lg:text-2xl">Puntos de paso</h3>
      <ul class="list-disc">
        <li><strong>Cruce:</strong> punto de control.</li>
        <li><strong>Arroyo Balagares:</strong> punto de control y avituallamiento líquido.</li>
      </ul>
      <h3 class="text-xl font-semibold mt-8 lg:text-2xl mb-2">Tiempo estimado</h3>
      <p class="info-text mb-20">45 minutos</p>
      <div class="text-center mt-6">
        <a
          href="https://es.wikiloc.com/rutas-carrera-por-montana/cadetes-2025-by-valle-de-arbas-209374542"
          class="inline-block bg-linear-to-r from-[#f97316] to-[#e49a69] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-[#e49a69] hover:to-[#f97316] transition-all duration-200"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link al track
        </a>
      </div>
    </article>

    <h3 class="text-xl font-semibold mt-4 mb-2 lg:mt-8 lg:text-2xl">Descripción de la carrera cadete</h3>
      <div class="flex flex-col gap-2">
        
        <ul>
          <li>
            <strong>Cubillas de Arbas (km 0) – Cruce (km 1,5):</strong>
            Salida desde el pueblo por un camino que enlaza con un sendero herboso, con 120 m de desnivel
            positivo hasta alcanzar el cruce.
          </li>

          <li>
            <strong>Cruce (km 1,5) – Arroyo Balagares (km 2,2):</strong>
            Tramo por pista con 70 m de desnivel.
          </li>

          <li>
            <strong>Arroyo Balagares (km 2,5) – Antigua antena (km 3,2):</strong>
            Subida a siguiendo el arrollo por una senda.
          </li>

          <li>
            <strong>Antena (km 3,2) - Collado de las Cabras (km 3,9) :</strong>
            Pequeña bajada para luego subir al collado desde el que damos vista el pueblo.
          </li>
          <li>
            <strong>Collado de las Cabras (km 3,9)-Meta (km 6,5km) :</strong>
            Bajada por un sendero hasta el valle, el tramo final se hace por una pista rápida hasta la meta.
          </li>
        </ul>
      </div>

      <h3 class="text-xl font-semibold mt-4 lg:text-2xl">Puntos de paso</h3>
      <ul class="list-disc">
        <li><strong>Cruce:</strong> punto de control.</li>
        <li><strong>Arroyo Balagares:</strong> punto de control y avituallamiento líquido.</li>
      </ul>
      <h3 class="text-xl font-semibold mt-8 lg:text-2xl mb-2">Tiempo estimado</h3>
      <p class="info-text mb-20">55 minutos</p>
      <div class="text-center mt-6">
        <a
          href="https://es.wikiloc.com/rutas-carrera-por-montana/trail-valle-de-arbas-cadete-263857322"
          class="inline-block bg-linear-to-r from-[#f97316] to-[#e49a69] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-[#e49a69] hover:to-[#f97316] transition-all duration-200"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link al track
        </a>
      </div>
    </article>
    <article id="km-desvertical" class="pt-20 w-[90%] mx-auto max-w-300 mb-20">
      <div class="title-center pt-4 flex flex-col items-center reveal-element">
        <h2
          class="text-2xl font-bold title-underline animate-underline mt-8 mb-4 text-center lg:text-3xl"
        >
          Kilómetro Desvertical  (¡PRUEBA ANULADA!)
        </h2>
        <h3 class="text-xl font-semibold text-[#e49a69] mb-4">
          ...Te atreves a bajar al anochecer desde el Pico el Castro a Cubillas?
        </h3>
      </div>
      <p class="info-text mb-2">
        Se trata de un recorrido de puro descenso que parte desde la cima del Pico el Castro y llega
        hasta Cubillas de Arbas. Con una distancia aproximada de 5 km y un desnivel negativo de 430
        metros, esta carrera está diseñada para los amantes de la velocidad y la adrenalina en
        montaña.
      </p>
      <Carousel
        images={[
          { src: castro1, alt: 'Vista de la bajada', caption: 'Vista de la bajada' },
          { src: castro2, alt: 'Vista de la bajada', caption: 'Vista de la bajada' },
          { src: castro3, alt: 'Vista de la bajada', caption: 'Vista de la bajada' },
          { src: castro4, alt: 'Vista de la bajada', caption: 'Vista de la bajada' },
        ]}
      />
      <h3 class="text-xl font-semibold mt-4 mb-2 lg:mt-8 lg:text-2xl">Descripción de la carrera</h3>
      <div class="flex flex-col gap-2">
        <Image
          src={PerfilCastro}
          alt="Perfil de la carrera del descenso Vertical"
          class="w-full h-auto mb-4"
          loading="lazy"
        />
        <ul>
          <li>
            <strong>Pico el Castro (1720m) (km 0) – Cruce camino Cuencha(km 1,1):</strong>
            Salida del pico y bajada por sendero hasta el camino de la Cuencha
          </li>

          <li>
            <strong>Cruce (km 1,1) – Collado de la Cuencha (km 3,1):</strong>
            Tramo por pista.
          </li>

          <li>
            <strong>Collado de la Cuencha (km 3,1) – Cubillas de Arbas (km 5):</strong>
            Por sendero viendo todo el rato el pueblo.
          </li>
        </ul>
      </div>

      <h3 class="text-xl font-semibold mt-8 lg:text-2xl mb-2">Tiempo estimado</h3>
      <p class="info-text mb-20">35-40 minutos</p>
      <div class="text-center mt-6">
        <a
          href="https://es.wikiloc.com/rutas-senderismo/pico-del-castro-collado-las-lomas-cubillas-de-arbas-244519225?h=a2zl8q2rm6&wa=sd&utm_campaign=badge&utm_source=unknown&utm_medium=unknown"
          class="inline-block bg-linear-to-r from-[#f97316] to-[#e49a69] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg hover:from-[#e49a69] hover:to-[#f97316] transition-all duration-200"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link al track
        </a>
      </div>
    </article>
  </section>
</BasePageLayout>
<style>
  .list-disc li {
    margin-bottom: 0.4rem;
  }
  @media (max-width: 600px) {
    ul {
      padding-left: 0;
      max-width: 100%;
    }
    ul li {
      font-size: 0.95rem;
      padding-left: 1.2rem;
    }
    ul li::before {
      left: 0.2rem;
      top: 0.8rem;
      width: 8px;
      height: 8px;
    }
  }

  @media (min-width: 1024px) {
    .info-text {
      font-size: 1.1rem;
    }

    ul li {
      font-size: 1.1rem;
    }
  }
</style>
